body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.header {
    padding: 0 150px;
}

.header {
    background-color: #1f2937;
    padding-top: 10px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    }

.links, .hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.hero {
    padding: 75px 0;
}

.hero-head {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    color: #e5e7eb;
}