body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    height: 100%;
}

.container1 {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

a, .subtext {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.headline {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.hero {
    display: flex;
}

.image {
    background-color: #92959b;
    width: 750px;
    height: auto;
}